<!--/**
* Made by: Dani Technology (Full Stack Engineer)
* Created on: December 8, 2024
* Contact developer:
* - WhatsApp: +62 838-3499-4479 or +62 823-2066-7363
* - Email: dani.technology.id@gmail.com
* - GitHub: https://github.com/dani-techno
*/-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web2Zip</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>Web2Zip</h1>
    <form id="web2zipForm">
      <label for="url">Enter Website URL:</label>
      <input type="url" id="url" placeholder="https://example.com" required>
      <button type="submit">Convert</button>
    </form>
    <div id="status" class="status"></div>
    <a href="#" id="zipLink" download>
		<button id="downloadLink" class="hidden">Download ZIP File</button>
	</a>
  </div>
  <script src="/js/script.js"></script>
</body>
</html>
